<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "header.njk" %}
    <h1>INDEX - {{title}}</h1>
    <p>Welcome to {{title}}</p>
    <input type="text" name="" id="" placeholder="{{title}}">
    <a href="/user">user</a>

    {# 내부에 변수 설정 #}
    {% set node = 'Node.js' %}
    {% set js = 'JavaScript' %}
    <p>{{node}} 와 {{js}}</p>

    {% set fruits = ['사과','배','복숭아','바나나','복숭아'] %}
    <ul>
        {% for item in fruits %}
        {# obj 반복문 #}
            {# <li>{{loop.index}} : {{item}}</li> #}
            {# 숫자 부여 => loop:index #}
            <li>{{loop.index0}} : {{item}}</li>
        {% endfor %}

        {% set isLoggedIn = true %}
            {% if isLoggedIn %}
                <div>로그아웃</div>
            {% else %}
                <div>로그인</div>
            {% endif %}
    {% include "footer.njk" %}
    </ul>
</body>
</html>